/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

/* Tailwind base units */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*Custom CSS*/
@layer base {
  body {
    font-family: Inter;
    height: 100vh;
  }
  #me-img-bg {
    background-image: url('./images/image-header-mobile.jpg');
    height: 30vh;
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media (min-width: 1440px) {
    #me-img-bg {
      background-image: url('./images/image-header-desktop.jpg');
      height: 100%;
    }
  }
}
